.Input {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &__inner {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 2.5rem;

    > input {
      width: auto;
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 0.7rem;
    }

    &--title {
      margin: 0;
    }

    &--quote {
      font-size: 0.8rem;
      color: grey;
      margin: 1rem;
    }
    &--text-area {
      background-color: #f6f9ff;
      border-radius: 1rem;
    }
    &--buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      // padding: 1rem 4rem;

      > button {
        cursor: pointer;
        outline: none;
      }
      &--add {
        display: inline-block;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 1rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgb(11, 149, 212);
          border-radius: 0.5rem;
          z-index: -2;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken($color: rgb(9, 85, 121), $amount: 0);
          transition: all 0.3s;
          border-radius: 0.5rem;
          z-index: -1;
        }
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }

        &:disabled {
          opacity: 0.3;
        }
      }
      &--cancel {
        background-color: transparent;
        color: rgb(170, 167, 167);
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: 0;
      }

      &--2 {
        height: 4rem;
      }
    }
  }
}
