.Card {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 13px 7px 13px 0px rgba(124, 124, 124, 0.56);
    background-color: #f3f4f6;
  }

  &__task {
    padding-left: 1rem;
    align-items: flex-start;
  }

  &__options {
    margin-left: auto;
    align-items: flex-end;
  }

  &__button {
    background-color: transparent;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-right: 0.5rem;
  }
  &__star {
    background-color: transparent;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-right: 0.8rem;
  }
  &__edit {
    background-color: transparent;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-right: 0.5rem;
  }
  &__title {
    margin: 0;
    text-align: left;
  }
  &__text {
    color: rgb(56, 56, 56);
    padding: 0.3rem 0 0.5rem;
    font-size: 0.8rem;
    margin: 0;
    text-align: start;
  }
}
