.Todo {
  &__title {
    text-align: left;
    padding: 0.4rem 4rem;
  }
  &__list {
  }
  &__end {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    &--add-button {
      background-color: transparent;
      padding: 0;
      border: 0;
      color: rgb(11, 149, 212);
      font-size: 2rem;
      margin-right: 0.5rem;
      cursor: pointer;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: rotate(90deg);
      }
    }

    &--button-text {
      padding: 0.3rem 1rem;
    }
  }
}
