.Navbar {
  box-sizing: border-box;
  background-color: rgb(11, 149, 212);
  padding: 1rem 2rem;
  color: white;
  font-size: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    color: white;
    padding-right: 1.25rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__end {
    &--icon {
      padding-right: 0.5rem;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
}
