.MainList {
  padding: 0 4rem;
  > hr {
    color: rgb(255, 255, 255);
  }
  &__not-completed {
    font-size: 1rem;
    color: rgba(165, 156, 156, 0.459);
    padding-left: 3rem;
    display: flex;
  }
}
